{
    "presets": [
        [
            "env", {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "babel-plugin-root-import", [
                {
                    "rootPathSuffix": ""
                }
            ]
        ]
    ]
}
